*, *:before, *:after {
  box-sizing: border-box;
}

.calc-body {
  width: 406.25px;
  margin: 10vh auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "clear output output output output"
    "seven eight nine divide sqrt"
    "four five six multiply raise"
    "one two three minus ."
    "dec zero equal plus ."
}

button {
  height: 80.25px;
  background: #61B34F;
  color: white;
  border: .2px solid white;
}

.clear:hover, .equal:hover {
  background: #82C276;
}

.clear {
  grid-area: clear;
}

.operator {
  background: #82C276;
  color: black;
}

.operator:hover {
  color: white;
}

.output {
  grid-area: output;
  text-align: right;
  background: #61B34F;
  color: white;
  padding-right: 30px;
}

.nine {
  grid-area: nine;
}

.eight {
  grid-area: eight;
}

.seven {
  grid-area: seven;
}

.six {
  grid-area: six;
}

.five {
  grid-area: five;
}

.four {
  grid-area: four;
}

.three {
  grid-area: three;
}

.two {
  grid-area: two;
}

.one {
  grid-area: one;
}

.zero {
  grid-area: zero;
}

.divide {
  grid-area: divide;
}

.multiply {
  grid-area: multiply;
}

.plus {
  grid-area: plus;
}

.minus {
  grid-area: minus;
}

.equal {
  grid-area: equal;
}

.dec {
  grid-area: dec;
}

.root {
  grid-area: sqrt;
}

.raise {
  grid-area: raise;
}
